/* ResetPassword.css */

.container {
    margin-top: 50px;
  }
  
  .card {
    border: 1px solid orange;
  }
  
  .card-header {
    background-color: orange;
    color: white;
  }
  
  .form-control {
    border: 1px solid grey;
  }
  
  .btn-primary {
    background-color: orange !important;
    border-color: orange !important;
  }
  
  .card-body p {
    color: grey;
    margin-top: 10px;
  }
  